IDI_ICON1 ICON "./icos/s2.ico"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 2,0,0,0
    PRODUCTVERSION 2,0,0,0
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", "乌拉乌拉嘿嘿嘿\0"
                VALUE "FileDescription", "飞讯个性化网络信息搜集器\0"
                VALUE "FileVersion", "2.0.0.0\0"
                VALUE "ProductVersion", "2.0.0.0\0"
                VALUE "LegalCopyright", "不知道第几组\0"
                VALUE "LegalTrademarks", "不知道第几组\0"
                VALUE "OriginalFilename", "FlyMessage.exe\0"
                VALUE "ProductName", "飞讯个性化网络信息搜集器\0"
                VALUE "InternalName", "FlyMessage.exe\0"
           END
        END
        
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x804, 1200
        END        
    END