MainWindow::News
{
    background:rgb(243,243,243)
}

News:hover{background:rgb(220,220,220)}

MainWindow{
    border: 1px solid black;
    background:rgb(243,243,243)
}
/*News::QLabel {
    font-family:"微软雅黑";
    font-size:20px
}*/

News QLabel {
    font-family:"微软雅黑";
    font-size:20px
}
